streamlit
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
sentence-transformers
faiss-cpu
chromadb
huggingface_hub
python-dotenv
validators==0.28.1
pypdf
pymupdf
bs4
arxiv
wikipedia
duckduckgo_search==5.3.1b1
youtube_transcript_api
unstructured
pytube
numexpr
pandas
